* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
}

.box:last-child {
  margin-right: 0;
}

.box-image1 {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow01.png);
}

.box-image2 {
  height: 150px;
  background-position: bottom;
  background-size: cover;
  background-image: url(img/flow02.png);
}

.box-image3 {
  height: 150px;
  background-position: bottom;
  background-size: cover;
  background-image: url(img/flow03.png);
}

.step {
  padding: 3px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ff9a4b;
  color: white;
}

h3 {
  margin: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .box {
    width: 90%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .box:last-child {
    margin: 0 auto;
  }
}
